<head>
    <title>@{ViewBag.Title = "EmailChangePassword"; }</title>
    <link rel="stylesheet" type="text/css" href="~/Content/SignupStyle.css">
</head>

<h2>Change Password</h2><hr />
<div align="center">
    @using (Html.BeginForm("VerifyPassword", "Account", new { id = Request.QueryString["UserName"] }, FormMethod.Post))
    {

        string Clicker = Request.QueryString["UserName"];
        @Html.Label(Clicker, "click button to change password");
        <br />
        <input type="submit" value="Change Password" class="button btn-primary">
        <br />
    }

    @using (Html.BeginForm("Index", "Account", FormMethod.Get))
    {
        <br /><br />
        <input type="submit" value="Return to Login" class="button btn-primary">
    }
</div>
