@model WebApplication2.Models.Account

<head>
    <title>@{ViewBag.Title = "EmailForgotPage"; }</title>
    <link rel="stylesheet" type="text/css" href="~/Content/SignupStyle.css">
</head>

<h2>Reset Password</h2><hr />
<div align="center">
    @Html.Label("Please check email to reset password")
    @using (Html.BeginForm("Index", "Account", FormMethod.Get))
    {
        <br /><br />
        <input type="submit" value="Return to Login" class="button btn-primary" />
    }
</div>