@{
    ViewBag.Title = "EmailChangePassword";
}

<h2>Changing Password</h2>

@using (Html.BeginForm("VerifyPassword", "Account", new { id = Request.QueryString["UserName"]}, FormMethod.Post))
{
   
    string Clicker = Request.QueryString["UserName"];
    @Html.Label(Clicker, "click button to change password");
    <br />
    <input type="submit" value="Change Password">
    <br />
}

@using (Html.BeginForm("Index", "Account", FormMethod.Get))
{
    <br />
    <br />
    <br />
    <br />
    <input type="submit" value="Go Back to Home Page">
}
