@model WebApplication2.Models.Account

<head>
    <title>@{ViewBag.Title = "EmailConfirmationPage";}</title>
    <link rel="stylesheet" type="text/css" href="~/Content/SignupStyle.css">
</head>


<h2>Email Confirmation Sent</h2><hr />
<div class="email_form" align="center">
    @using (Html.BeginForm("Resend", "Account", FormMethod.Post))
    {
        <br />
        if (Convert.ToString(ViewData["Email"]) == "Sent")
        {
            @Html.Label("Please check email to confirm this account!, Please contact Raman")
        }
    }
</div>
<div align="center">
    @using (Html.BeginForm("Index", "Account", FormMethod.Get))
    {
        <br /><br />
        <input type="submit" value="Return to Login" class="btn-primary button">
    }
</div>