
@{
    ViewBag.Title = "Input2";
}

<h2>Input</h2>
<h2>Input</h2>
@using (Html.BeginForm("Upload", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <input type="file" name="FileUpload" />
    <input type="submit" value="Upload" />
}

<p>WHERE ERROR WILL DISPLAY</p>

<p>@Html.Encode(ViewData["Feedback"])</p>
