@model dynamic
<!DOCTYPE html>
<html>
<head>
    <title>@{ViewBag.Title = "AddProjects";}</title>
    @{Layout = "~/Views/Shared/_Layout.cshtml";}
</head>
<body>
    
    <h2>Add Projects</h2>

    <div>

        @Html.Label("You can join these projects: ")
        <br />
        <br />

        @foreach (ProjectTable proj in Model.ProjectTable)
        {
                @Html.Label("Projet Number: ")
                @proj.ProjectId

                @Html.ActionLink(" Click to Add", "AddtoTable", new { id = proj.ProjectId, role = Model.JunctionTableProjectAndAccount.Role, Aid = Model.JunctionTableProjectAndAccount.AID })

                <br />

        }
    </div>
</body>
</html>

