@model dynamic
<!DOCTYPE html>
<html>
<head>
    <title>@{ViewBag.Title = "EditPeople";}</title>
    @{Layout = "~/Views/Shared/_Layout.cshtml";}
    <link rel="stylesheet" type="text/css" href="~/Content/EditAndAddStyle.css">
    <script src="~/Scripts/ProjectManager.js"></script>

</head>
<body>
    <div align="center">
        <h2>Manage People</h2><hr />
        @if (Model.Members.Count != 0)
        {
            <h3>Change these Members to Leaders</h3>
        }
    <table>
    @foreach (memberTableV2 member in Model.Members)
    {
        using (Html.BeginForm("ChangeRank", "Project", new { role = "Member", Aid = member.Id, UId = Model.JunctionTable.AID }))
        {
           <tr>
            <td>@Html.Label("Member: " + @member.UserName)</td>
            <td><input type="submit" value="Add" class="btn-primary button" , onclick="return confirm('return confirm(Are you sure you want to change this person to a Leader?');" } /></td>
          </tr>
        }
    }
    </table>
    @if (Model.Leaders.Count != 0)
    {
       <h3>Change Leaders to Members</h3>
    }
    <table>
    @foreach (leaderTableV2 leader in Model.Leaders)
    {
         using (Html.BeginForm("ChangeRank", "Project", new { role = "Leader", Aid = leader.Id, UId = Model.JunctionTable.AID }))
         {
               <tr>
                   <td>@Html.Label("Leader: " + @leader.UserName)</td>
                   <td><input type="submit" value="Add" class="btn-primary button" , onclick="return confirm('return confirm(Are you sure you want to change this person to a Member?');" } /></td>
               </tr>
          }
      }
       </table>
    </div>
 </body>
</html>

