@model WebApplication2.Models.Project
<!DOCTYPE html>
<html>
<head>
    <title>@{ViewBag.Title = "SuccessPage";}</title>
    @{Layout = "~/Views/Shared/_Layout.cshtml";}
</head>
<body>
    
    <h2>Success</h2>

        @using (Html.BeginForm("Index", "Account"))
        {
          
            <input type="submit" value="Home Page">
        }
</body>
</html>

