@model WebApplication2.Models.Project
<!DOCTYPE html>
<html>
<head>
    <title>@{ViewBag.Title = "SuccessPage";}</title>
    @{Layout = "~/Views/Shared/_Layout.cshtml";}
</head>
<body>
    
    <h2>AddProjects</h2>

    <div>
       @Html.Label("You have been added, " + ViewData["Output"])
      
    </div>
</body>
</html>

