#verify_email { margin-left: 10px;}
#dropdown {margin-right: 10px}
#sign_in{margin-bottom:10px;}
#forgot_password {color:#03022c}
.button {
    color: black;
    background-color: white;
    border-color: black;
}