.question_row{
    display: table;
    width: 100%; 
    table-layout:fixed;
    border-spacing: 10px; /*Optional*/
}
.question{
    text-align:left;
    display: table-cell;
    width:50%;
    position:relative;
    left:0;
}
.answers{
    display: table-cell;
}
.label{text-align:left}
.question_cat_header{
    text-align:left;
}
td,th{
   text-align:center;
   top:0;
}
table{
    table-layout:fixed;
    min-height: 100%;
    width: 100%;
}
#q_form{
    border:thick solid #03022c;
    background-color: rgba(75,0,130,0.6);
    border-radius:10px;
}
.question_cat_header{margin-left: 10px; /*Optional*/}


