.question_row{
    display: table;
    width: 100%; 
    table-layout:fixed;
    border-spacing: 10px; /*Optional*/
    border-bottom:solid;
    border-color:rgba(75,0,130,1.0);
}
.question{
    text-align:left;
    display: table-cell;
    width:50%;
    position:relative;
    left:0;
}
.answers{
    display: table-cell;
    
}
.label{text-align:left;
           margin-right:5px;
}
.question_cat_header{
    text-align:left;
}
.checkbox_group {
  display: inline-block;
  text-align: center;
}
.checkbox_group label {
  display: block;
}
td{
   text-align:center;
   
}
th{
    text-align:left;
    
}
table{
    table-layout:fixed;
    min-height: 100%;
    width: 100%;
}
#q_form{
    border:thick solid #03022c;
    background-color: rgba(75,0,130,0.6);
    border-radius:10px;
}
.question_cat_header{margin-left: 10px; /*Optional*/}
ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
}
li {
     display: inline;
}


