.project{
    display:inline-block;
    border:thick solid #03022c;
    background-color: rgba(105,105, 105,0.6);
    border-radius:10px;
    text-align:left;
}
.project_header{
    text-align:center;
    border-bottom:thick solid #03022c;
    opacity:1.0
}
.project_input{
    margin-left:10px;
    margin-right:10px;
    margin-bottom:5px;
    margin-top:5px;
    
}
.button {
    color: black;
    background-color: white;
    border-color: black;
}
#join_project{
    width:50%;
    height:100%;
}