.project{
    display:inline-block;
   
   border:thick solid black;
   text-align:left;
   
    
}
.project_header{
    text-align:center;
    border-bottom:thick solid black;
}
.project_input{
    margin-left:5px;
    margin-right:5px;
    margin-bottom:5px;
    margin-top:5px;
}
