body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('/Content/Images/texture-blue-fonchik-simple-dark-colors-glow-background.jpg');
    background-repeat: repeat
}
h2, h3, h1 {
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
label {
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
button {
    color:black;
    background-color:white;
    border-color: black;
}
.warning{color:red}

.textbox, #Password {margin-left: 20px;}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
#navbar_custom{
  
    background-image: url('/Content/Images/navbar_color.jpg');
    background-repeat: repeat;
    border-bottom-color:grey
    
}
#welcome{
    font-size:xx-large;
    text-align: right;

}

